footer {
	background: $gray-darker;
	color: white;
	padding-bottom: 20px;
	
	a {
		color: white;
		text-decoration: none;
		
		&.with-logo {
			
			span {
				display: block;
				font-size: 11px;
				margin: 1em 0 2em 0;
				
				@media #{$medium-up} {
					font-size: 22px;			
				}
			}
		}
	}
	
	ul {
		margin: 0 0 2.5em 0;
		padding: 0;
		text-align: center;
		list-style: none;
		font-size: 9px;
		display: inline-block;
		overflow: hidden;
		
		@media #{$medium-up} {
			font-size: 20px;			
		}
		
		li {
			float: left;
			padding: 0 4px;
			border-right: 1px solid white;
			line-height: 1em;
			
			&:last-child {
				border: none;
			}
		}
	}
	
	.copyline {
		color: $gray-dark;
		font-size: 9px;
		margin: 0;
		
		@media #{$medium-up} {
			font-size: 14px;			
		}
	}
}