body {
	text-align: center;
	font-family: $font-text;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.2em;
	
	@media #{$medium-up} {
		font-size: 22px;			
	}
}

section,
footer {
	padding: 30px 0;
		
	p {
		margin: 0 0 1.5em 0;
	}
}

.vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}